@import url("https://fonts.googleapis.com/css?family=UnifrakturCook:700|UnifrakturMaguntia");

.UnifrakturMaguntia {
  font-family: "UnifrakturMaguntia", cursive;
}
body {
  margin: 0%;
  padding: 0%;
}
h1 {
  text-align: center;
  color: black;
  margin: 3rem 0rem 0rem 0rem;
  height: 10rem;
  font-size: 8rem;
  padding: 2rem 0 0 0;
}
header {
  background-color: red;
  margin: 0rem 0rem 0rem 10%;
  border: black;
  width: 80%;
}
html {
  background-color: black;
  margin: 0;
}
main {
  display: flex;
}
.Sandbox {
  background-color: lightgray;
  width: 60%;
  text-align: center;
  height: 30rem;
  font-size: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linkbox {
  margin: 0rem 0rem 0rem 10%;
  height: 30rem;
  width: 20%;
  background-color: blue;
}
.row1,
.row2,
.row3 {
  display: flex;
  justify-content: space-around;
}

li {
  background-color: green;
  border: black solid 2pt;
  list-style-type: none;
  width: 8rem;
}
